<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/dashboard' ? 'active' : '' %>" href="#">Cast/Change Vote</a>
            </li>
            <li class="main-header__item">
                <a class="#" href="#">Show Stats by Location</a>
            </li>
            <li class="main-header__item">
                <a class="#" href="#">Show Stats by Designation</a>
            </li>
        </ul>

        <ul class="main-header__item-list">
                <li class="main-header__item">
                        <a  href="#"><button type="submit">Profile</button></a>
                        <a  href="/logout"><button type="submit">Logout</button></a>
                    </form>
                </li>
        </ul>
    </nav>
</header>

